.gliph {
  font-family: "Karma", serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  perspective: 1000px;
  background: #000;
  max-width: 100%;
  overflow-x: hidden;
}

body * {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.background {
  width: 100%;
  height: 100vh;
  min-height: 150vw;
}

.gate {
  position: relative;
  margin: auto;
}

.ring1 {
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  top: 2rem;
  left: 10%;
  background-color: #80A2A3;
  width: 742px;
  height: 742px;
}

.ring2 {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border: 0.5vw dotted #476067;
  border-radius: 50%;
  box-shadow: inset 0 0 1rem #000, 0 0 1rem #000;
  -webkit-animation: password 25s infinite linear;
          animation: password 25s infinite linear;
}

@-webkit-keyframes password {
  0%, 5% {
    transform: rotate(0deg);
  }
  20%, 15% {
    transform: rotate(45deg);
  }
  35%, 30% {
    transform: rotate(90deg);
  }
  50%, 45% {
    transform: rotate(135deg);
  }
  65%, 60% {
    transform: rotate(180deg);
  }
  80%, 75% {
    transform: rotate(225deg);
  }
  95%, 90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes password {
  0%, 5% {
    transform: rotate(0deg);
  }
  20%, 15% {
    transform: rotate(45deg);
  }
  35%, 30% {
    transform: rotate(90deg);
  }
  50%, 45% {
    transform: rotate(135deg);
  }
  65%, 60% {
    transform: rotate(180deg);
  }
  80%, 75% {
    transform: rotate(225deg);
  }
  95%, 90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gliph {
  min-width: 1px;
  width: 1%;
  bottom: 50%;
  left: 49.5%;
  height: 50%;
  background: #476067;
  transform-origin: bottom;
  font-size: 3vw;
}
.gliph:nth-child(0) {
  transform-origin: bottom;
  transform: rotate(calc(0 * 10deg));
}
.gliph:nth-child(1) {
  transform-origin: bottom;
  transform: rotate(calc(1 * 10deg));
}
.gliph:nth-child(2) {
  transform-origin: bottom;
  transform: rotate(calc(2 * 10deg));
}
.gliph:nth-child(3) {
  transform-origin: bottom;
  transform: rotate(calc(3 * 10deg));
}
.gliph:nth-child(4) {
  transform-origin: bottom;
  transform: rotate(calc(4 * 10deg));
}
.gliph:nth-child(5) {
  transform-origin: bottom;
  transform: rotate(calc(5 * 10deg));
}
.gliph:nth-child(6) {
  transform-origin: bottom;
  transform: rotate(calc(6 * 10deg));
}
.gliph:nth-child(7) {
  transform-origin: bottom;
  transform: rotate(calc(7 * 10deg));
}
.gliph:nth-child(8) {
  transform-origin: bottom;
  transform: rotate(calc(8 * 10deg));
}
.gliph:nth-child(9) {
  transform-origin: bottom;
  transform: rotate(calc(9 * 10deg));
}
.gliph:nth-child(10) {
  transform-origin: bottom;
  transform: rotate(calc(10 * 10deg));
}
.gliph:nth-child(11) {
  transform-origin: bottom;
  transform: rotate(calc(11 * 10deg));
}
.gliph:nth-child(12) {
  transform-origin: bottom;
  transform: rotate(calc(12 * 10deg));
}
.gliph:nth-child(13) {
  transform-origin: bottom;
  transform: rotate(calc(13 * 10deg));
}
.gliph:nth-child(14) {
  transform-origin: bottom;
  transform: rotate(calc(14 * 10deg));
}
.gliph:nth-child(15) {
  transform-origin: bottom;
  transform: rotate(calc(15 * 10deg));
}
.gliph:nth-child(16) {
  transform-origin: bottom;
  transform: rotate(calc(16 * 10deg));
}
.gliph:nth-child(17) {
  transform-origin: bottom;
  transform: rotate(calc(17 * 10deg));
}
.gliph:nth-child(18) {
  transform-origin: bottom;
  transform: rotate(calc(18 * 10deg));
}
.gliph:nth-child(19) {
  transform-origin: bottom;
  transform: rotate(calc(19 * 10deg));
}
.gliph:nth-child(20) {
  transform-origin: bottom;
  transform: rotate(calc(20 * 10deg));
}
.gliph:nth-child(21) {
  transform-origin: bottom;
  transform: rotate(calc(21 * 10deg));
}
.gliph:nth-child(22) {
  transform-origin: bottom;
  transform: rotate(calc(22 * 10deg));
}
.gliph:nth-child(23) {
  transform-origin: bottom;
  transform: rotate(calc(23 * 10deg));
}
.gliph:nth-child(24) {
  transform-origin: bottom;
  transform: rotate(calc(24 * 10deg));
}
.gliph:nth-child(25) {
  transform-origin: bottom;
  transform: rotate(calc(25 * 10deg));
}
.gliph:nth-child(26) {
  transform-origin: bottom;
  transform: rotate(calc(26 * 10deg));
}
.gliph:nth-child(27) {
  transform-origin: bottom;
  transform: rotate(calc(27 * 10deg));
}
.gliph:nth-child(28) {
  transform-origin: bottom;
  transform: rotate(calc(28 * 10deg));
}
.gliph:nth-child(29) {
  transform-origin: bottom;
  transform: rotate(calc(29 * 10deg));
}
.gliph:nth-child(30) {
  transform-origin: bottom;
  transform: rotate(calc(30 * 10deg));
}
.gliph:nth-child(31) {
  transform-origin: bottom;
  transform: rotate(calc(31 * 10deg));
}
.gliph:nth-child(32) {
  transform-origin: bottom;
  transform: rotate(calc(32 * 10deg));
}
.gliph:nth-child(33) {
  transform-origin: bottom;
  transform: rotate(calc(33 * 10deg));
}
.gliph:nth-child(34) {
  transform-origin: bottom;
  transform: rotate(calc(34 * 10deg));
}
.gliph:nth-child(35) {
  transform-origin: bottom;
  transform: rotate(calc(35 * 10deg));
}
.gliph:nth-child(36) {
  transform-origin: bottom;
  transform: rotate(calc(36 * 10deg));
}

.gliph::after {
  content: attr(data-content);
  display: block;
  width: 6vw;
  padding-top: 1vw;
  text-align: center;
}

@-webkit-keyframes water {
  0%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}

@keyframes water {
  0%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
.slider {
  width: 72%;
  height: 72%;
  top: 14%;
  left: 14%;
  border-radius: 50%;
  background: #2F3871;
  box-shadow: inset 0 0 5rem #000, 0 0 5vw #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: initial;
  -webkit-transform-style: initial;
}
.slider::before {
  content: "";
  position: absolute;
  display: block;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: #FFF;
  box-shadow: inset 0 0 15vw #FFF, 0 0 10vw #FFF, 0 0 15vw #FFF, 0 0 5vw #FFf;
  filter: blur(3vw);
  mix-blend-mode: ligther;
  -webkit-animation: water 5s 1s infinite;
          animation: water 5s 1s infinite;
}

.light {
  background-color: #EBFE81;
  width: 7%;
  height: 7%;
  border-radius: 50%;
  box-shadow: 0 0 4vw #EBFE81;
  left: 46.5%;
  bottom: 50%;
  margin-bottom: 43%;
  transform-origin: center 700%;
}
.light:nth-child(0) {
  transform: rotate(calc(0 * 45deg));
}
.light:nth-child(1) {
  transform: rotate(calc(1 * 45deg));
}
.light:nth-child(2) {
  transform: rotate(calc(2 * 45deg));
}
.light:nth-child(3) {
  transform: rotate(calc(3 * 45deg));
}
.light:nth-child(4) {
  transform: rotate(calc(4 * 45deg));
}
.light:nth-child(5) {
  transform: rotate(calc(5 * 45deg));
}
.light:nth-child(6) {
  transform: rotate(calc(6 * 45deg));
}
.light:nth-child(7) {
  transform: rotate(calc(7 * 45deg));
}
.light:nth-child(8) {
  transform: rotate(calc(8 * 45deg));
}
.light:nth-child(9) {
  transform: rotate(calc(9 * 45deg));
}

.lamp {
  width: 0;
  height: 0;
  left: 8%;
  bottom: -70%;
  border-top: 5vw solid #717B72;
  border-right: 2vw solid transparent;
  border-left: 2vw solid transparent;
}
.lamp::before, .lamp::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.6vw;
  height: 8vw;
  background: #717B72;
  transform-origin: bottom;
  transform: rotateZ(20deg);
}
.lamp::after {
  transform: rotateZ(-20deg);
}

.floor {
  width: 100vw;
  top: 80vw;
  height: 800px;
  background: #6F8BA3;
  transform-origin: top;
  transform: rotateX(90deg);
}
.floor .line {
  width: 100vw;
  background-image: linear-gradient(to right, black 50%, #FBD06A 0%);
  background-position: bottom;
  background-size: 15% 3vw;
  background-repeat: repeat-x;
  margin-top: 40vW;
  height: 3vw;
  transform: skewX(60deg) rotate(5deg);
}

.bridge {
  transform-origin: top;
  width: 40%;
  left: 30%;
  top: 70vw;
  height: 500px;
  background: repeating-linear-gradient(90deg, #546174, #546174 0.1em, #283A50 0, #283A50 0.5em);
  box-shadow: inset 0 0 5vw #000;
  transform: rotateX(95deg);
}
.bridge::after, .bridge .stair::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  transform-origin: bottom;
  bottom: 0;
  transform: rotateX(90deg);
}

.staircase {
  top: 100%;
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: rotateX(-50deg);
  border: 4px solid;
  border-top: none;
}
.staircase .stair {
  width: 100%;
  background: repeating-linear-gradient(90deg, #546174, #546174 0.1em, #283A50 0, #283A50 0.5em);
  height: 25px;
  transform: rotateX(50deg);
}
.staircase .stair:first-child {
  bottom: 0;
}
.staircase .stair:last-child {
  bottom: 40%;
}

div[class^=barrier] {
  width: 50px;
  height: 350px;
  transform-origin: top left;
  left: 30%;
  top: 70vw;
  border-radius: 50px 50px 0 0;
  border: 1vw solid #31363C;
  transform: rotateZ(-90deg) rotateX(91.5deg);
}
div[class^=barrier]::before {
  content: "";
  position: absolute;
  width: 1vw;
  background-color: #31363C;
  height: 100%;
  left: 20%;
  top: 0;
}
div[class^=barrier]::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  right: 0;
  box-shadow: 0 0 1rem #FFFDF1, inset 0 0 5vw #FFFDF1;
  background-color: rgba(255, 253, 241, 0.7647058824);
}

div[class^=barrier]:last-of-type {
  transform: translate(39vw) rotateZ(-90deg) rotateX(88.5deg);
}

.slider img {
  width: 100%;
  transform: scale(0.5);
  opacity: 0;
  mix-blend-mode: multiply;
  transition: all 1s;
}

.slider video {
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}

.slider .active {
  transform: scale(0.8);
  opacity: 1;
  mix-blend-mode: initial;
  transition: all 1s 2s;
}

@-webkit-keyframes blink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

@keyframes blink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}
.star {
  background-color: #e4efab;
  border-radius: 50%;
}
.star:nth-of-type(3n) {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
.star:nth-of-type(0) {
  top: 14vw;
  left: 31vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6606391706s;
          animation-delay: 0.6606391706s;
}
.star:nth-of-type(1) {
  top: 56vw;
  left: 23vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9252592304s;
          animation-delay: 0.9252592304s;
}
.star:nth-of-type(2) {
  top: 83vw;
  left: 75vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6575317561s;
          animation-delay: 0.6575317561s;
}
.star:nth-of-type(3) {
  top: 18vw;
  left: 29vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9802297267s;
          animation-delay: 0.9802297267s;
}
.star:nth-of-type(4) {
  top: 28vw;
  left: 29vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0714527936s;
          animation-delay: 0.0714527936s;
}
.star:nth-of-type(5) {
  top: 12vw;
  left: 13vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6568395291s;
          animation-delay: 0.6568395291s;
}
.star:nth-of-type(6) {
  top: 2vw;
  left: 33vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9247520836s;
          animation-delay: 0.9247520836s;
}
.star:nth-of-type(7) {
  top: 46vw;
  left: 43vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6234267312s;
          animation-delay: 0.6234267312s;
}
.star:nth-of-type(8) {
  top: 89vw;
  left: 18vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0740757066s;
          animation-delay: 0.0740757066s;
}
.star:nth-of-type(9) {
  top: 76vw;
  left: 46vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8029535505s;
          animation-delay: 0.8029535505s;
}
.star:nth-of-type(10) {
  top: 28vw;
  left: 27vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8821786857s;
          animation-delay: 0.8821786857s;
}
.star:nth-of-type(11) {
  top: 35vw;
  left: 15vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9870130858s;
          animation-delay: 0.9870130858s;
}
.star:nth-of-type(12) {
  top: 1vw;
  left: 53vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3710639098s;
          animation-delay: 0.3710639098s;
}
.star:nth-of-type(13) {
  top: 53vw;
  left: 32vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0032289278s;
          animation-delay: 0.0032289278s;
}
.star:nth-of-type(14) {
  top: 41vw;
  left: 18vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3457044859s;
          animation-delay: 0.3457044859s;
}
.star:nth-of-type(15) {
  top: 16vw;
  left: 89vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.009138578s;
          animation-delay: 0.009138578s;
}
.star:nth-of-type(16) {
  top: 74vw;
  left: 54vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.156381886s;
          animation-delay: 0.156381886s;
}
.star:nth-of-type(17) {
  top: 68vw;
  left: 23vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.276099266s;
          animation-delay: 0.276099266s;
}
.star:nth-of-type(18) {
  top: 36vw;
  left: 10vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0331697778s;
          animation-delay: 0.0331697778s;
}
.star:nth-of-type(19) {
  top: 35vw;
  left: 90vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6723328226s;
          animation-delay: 0.6723328226s;
}
.star:nth-of-type(20) {
  top: 51vw;
  left: 64vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8895013998s;
          animation-delay: 0.8895013998s;
}
.star:nth-of-type(21) {
  top: 23vw;
  left: 3vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0264750717s;
          animation-delay: 0.0264750717s;
}
.star:nth-of-type(22) {
  top: 88vw;
  left: 69vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8517425367s;
          animation-delay: 0.8517425367s;
}
.star:nth-of-type(23) {
  top: 43vw;
  left: 33vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7463874791s;
          animation-delay: 0.7463874791s;
}
.star:nth-of-type(24) {
  top: 31vw;
  left: 91vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6761015479s;
          animation-delay: 0.6761015479s;
}
.star:nth-of-type(25) {
  top: 34vw;
  left: 68vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9632169441s;
          animation-delay: 0.9632169441s;
}
.star:nth-of-type(26) {
  top: 23vw;
  left: 8vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0527020519s;
          animation-delay: 0.0527020519s;
}
.star:nth-of-type(27) {
  top: 15vw;
  left: 62vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9649661108s;
          animation-delay: 0.9649661108s;
}
.star:nth-of-type(28) {
  top: 70vw;
  left: 32vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3899480317s;
          animation-delay: 0.3899480317s;
}
.star:nth-of-type(29) {
  top: 32vw;
  left: 14vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5677931774s;
          animation-delay: 0.5677931774s;
}
.star:nth-of-type(30) {
  top: 50vw;
  left: 30vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3683996214s;
          animation-delay: 0.3683996214s;
}
.star:nth-of-type(31) {
  top: 44vw;
  left: 35vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4553676001s;
          animation-delay: 0.4553676001s;
}
.star:nth-of-type(32) {
  top: 42vw;
  left: 71vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0632963808s;
          animation-delay: 0.0632963808s;
}
.star:nth-of-type(33) {
  top: 22vw;
  left: 60vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7057491262s;
          animation-delay: 0.7057491262s;
}
.star:nth-of-type(34) {
  top: 70vw;
  left: 1vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5204289146s;
          animation-delay: 0.5204289146s;
}
.star:nth-of-type(35) {
  top: 10vw;
  left: 29vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3633173544s;
          animation-delay: 0.3633173544s;
}
.star:nth-of-type(36) {
  top: 11vw;
  left: 65vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4519643215s;
          animation-delay: 0.4519643215s;
}
.star:nth-of-type(37) {
  top: 98vw;
  left: 71vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0585198692s;
          animation-delay: 0.0585198692s;
}
.star:nth-of-type(38) {
  top: 57vw;
  left: 45vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2174116475s;
          animation-delay: 0.2174116475s;
}
.star:nth-of-type(39) {
  top: 10vw;
  left: 32vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7206362241s;
          animation-delay: 0.7206362241s;
}
.star:nth-of-type(40) {
  top: 68vw;
  left: 86vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9300328073s;
          animation-delay: 0.9300328073s;
}
.star:nth-of-type(41) {
  top: 65vw;
  left: 68vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7767596907s;
          animation-delay: 0.7767596907s;
}
.star:nth-of-type(42) {
  top: 44vw;
  left: 66vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8289933204s;
          animation-delay: 0.8289933204s;
}
.star:nth-of-type(43) {
  top: 49vw;
  left: 54vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5668889352s;
          animation-delay: 0.5668889352s;
}
.star:nth-of-type(44) {
  top: 48vw;
  left: 6vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2874032645s;
          animation-delay: 0.2874032645s;
}
.star:nth-of-type(45) {
  top: 6vw;
  left: 65vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.612804986s;
          animation-delay: 0.612804986s;
}
.star:nth-of-type(46) {
  top: 40vw;
  left: 25vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2837134142s;
          animation-delay: 0.2837134142s;
}
.star:nth-of-type(47) {
  top: 61vw;
  left: 65vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4695249084s;
          animation-delay: 0.4695249084s;
}
.star:nth-of-type(48) {
  top: 60vw;
  left: 86vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8233339169s;
          animation-delay: 0.8233339169s;
}
.star:nth-of-type(49) {
  top: 3vw;
  left: 60vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5819665441s;
          animation-delay: 0.5819665441s;
}
.star:nth-of-type(50) {
  top: 36vw;
  left: 9vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0049575608s;
          animation-delay: 0.0049575608s;
}
.star:nth-of-type(51) {
  top: 70vw;
  left: 34vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9418289006s;
          animation-delay: 0.9418289006s;
}
.star:nth-of-type(52) {
  top: 79vw;
  left: 21vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0775271689s;
          animation-delay: 0.0775271689s;
}
.star:nth-of-type(53) {
  top: 71vw;
  left: 39vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4492205131s;
          animation-delay: 0.4492205131s;
}
.star:nth-of-type(54) {
  top: 42vw;
  left: 55vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1024756809s;
          animation-delay: 0.1024756809s;
}
.star:nth-of-type(55) {
  top: 64vw;
  left: 79vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4566865735s;
          animation-delay: 0.4566865735s;
}
.star:nth-of-type(56) {
  top: 46vw;
  left: 100vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2709084342s;
          animation-delay: 0.2709084342s;
}
.star:nth-of-type(57) {
  top: 41vw;
  left: 82vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5071763271s;
          animation-delay: 0.5071763271s;
}
.star:nth-of-type(58) {
  top: 38vw;
  left: 96vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6051865461s;
          animation-delay: 0.6051865461s;
}
.star:nth-of-type(59) {
  top: 42vw;
  left: 89vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8410959104s;
          animation-delay: 0.8410959104s;
}
.star:nth-of-type(60) {
  top: 87vw;
  left: 14vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2186182959s;
          animation-delay: 0.2186182959s;
}
.star:nth-of-type(61) {
  top: 16vw;
  left: 98vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9635818822s;
          animation-delay: 0.9635818822s;
}
.star:nth-of-type(62) {
  top: 15vw;
  left: 48vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0707434521s;
          animation-delay: 0.0707434521s;
}
.star:nth-of-type(63) {
  top: 80vw;
  left: 68vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5696524346s;
          animation-delay: 0.5696524346s;
}
.star:nth-of-type(64) {
  top: 56vw;
  left: 27vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2986896947s;
          animation-delay: 0.2986896947s;
}
.star:nth-of-type(65) {
  top: 33vw;
  left: 66vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4116791946s;
          animation-delay: 0.4116791946s;
}
.star:nth-of-type(66) {
  top: 48vw;
  left: 73vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8472791617s;
          animation-delay: 0.8472791617s;
}
.star:nth-of-type(67) {
  top: 84vw;
  left: 42vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2785328556s;
          animation-delay: 0.2785328556s;
}
.star:nth-of-type(68) {
  top: 82vw;
  left: 94vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0643070135s;
          animation-delay: 0.0643070135s;
}
.star:nth-of-type(69) {
  top: 24vw;
  left: 86vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1491013903s;
          animation-delay: 0.1491013903s;
}
.star:nth-of-type(70) {
  top: 5vw;
  left: 31vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6575494422s;
          animation-delay: 0.6575494422s;
}
.star:nth-of-type(71) {
  top: 38vw;
  left: 85vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3939195747s;
          animation-delay: 0.3939195747s;
}
.star:nth-of-type(72) {
  top: 16vw;
  left: 16vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9639715286s;
          animation-delay: 0.9639715286s;
}
.star:nth-of-type(73) {
  top: 97vw;
  left: 93vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5179926385s;
          animation-delay: 0.5179926385s;
}
.star:nth-of-type(74) {
  top: 64vw;
  left: 46vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.996104657s;
          animation-delay: 0.996104657s;
}
.star:nth-of-type(75) {
  top: 41vw;
  left: 1vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3773786199s;
          animation-delay: 0.3773786199s;
}
.star:nth-of-type(76) {
  top: 10vw;
  left: 69vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3590926774s;
          animation-delay: 0.3590926774s;
}
.star:nth-of-type(77) {
  top: 16vw;
  left: 84vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4602614459s;
          animation-delay: 0.4602614459s;
}
.star:nth-of-type(78) {
  top: 96vw;
  left: 88vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5744509775s;
          animation-delay: 0.5744509775s;
}
.star:nth-of-type(79) {
  top: 84vw;
  left: 24vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5324531938s;
          animation-delay: 0.5324531938s;
}
.star:nth-of-type(80) {
  top: 83vw;
  left: 31vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6796738233s;
          animation-delay: 0.6796738233s;
}
.star:nth-of-type(81) {
  top: 82vw;
  left: 19vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8467297427s;
          animation-delay: 0.8467297427s;
}
.star:nth-of-type(82) {
  top: 20vw;
  left: 30vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6413500811s;
          animation-delay: 0.6413500811s;
}
.star:nth-of-type(83) {
  top: 15vw;
  left: 1vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4239634999s;
          animation-delay: 0.4239634999s;
}
.star:nth-of-type(84) {
  top: 52vw;
  left: 89vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3362300891s;
          animation-delay: 0.3362300891s;
}
.star:nth-of-type(85) {
  top: 35vw;
  left: 46vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3694236021s;
          animation-delay: 0.3694236021s;
}
.star:nth-of-type(86) {
  top: 18vw;
  left: 78vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1416646763s;
          animation-delay: 0.1416646763s;
}
.star:nth-of-type(87) {
  top: 6vw;
  left: 67vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3018486074s;
          animation-delay: 0.3018486074s;
}
.star:nth-of-type(88) {
  top: 50vw;
  left: 56vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6333448957s;
          animation-delay: 0.6333448957s;
}
.star:nth-of-type(89) {
  top: 19vw;
  left: 58vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.030614737s;
          animation-delay: 0.030614737s;
}
.star:nth-of-type(90) {
  top: 46vw;
  left: 73vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6954589844s;
          animation-delay: 0.6954589844s;
}
.star:nth-of-type(91) {
  top: 88vw;
  left: 99vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6350472134s;
          animation-delay: 0.6350472134s;
}
.star:nth-of-type(92) {
  top: 92vw;
  left: 19vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1257190081s;
          animation-delay: 0.1257190081s;
}
.star:nth-of-type(93) {
  top: 84vw;
  left: 3vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2912346757s;
          animation-delay: 0.2912346757s;
}
.star:nth-of-type(94) {
  top: 38vw;
  left: 11vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1879403728s;
          animation-delay: 0.1879403728s;
}
.star:nth-of-type(95) {
  top: 30vw;
  left: 72vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6660418296s;
          animation-delay: 0.6660418296s;
}
.star:nth-of-type(96) {
  top: 24vw;
  left: 58vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3020265176s;
          animation-delay: 0.3020265176s;
}
.star:nth-of-type(97) {
  top: 65vw;
  left: 40vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0846540516s;
          animation-delay: 0.0846540516s;
}
.star:nth-of-type(98) {
  top: 24vw;
  left: 14vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.915987378s;
          animation-delay: 0.915987378s;
}
.star:nth-of-type(99) {
  top: 75vw;
  left: 59vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6733197984s;
          animation-delay: 0.6733197984s;
}

.symbole {
  width: 100%;
  height: 100%;
  transform: scale(1.14);
  margin-top: 9px;
  margin-left: 15px;
}
