.gliph {
  font-family: "Karma", serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  perspective: 1000px;
  background: #000;
  max-width: 100%;
  overflow-x: hidden;
}

body * {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.background {
  width: 100%;
  height: 100vh;
  min-height: 150vw;
}

.gate {
  position: relative;
  margin: auto;
}

.ring1 {
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  top: 2rem;
  left: 10%;
  background-color: #80A2A3;
  width: 742px;
  height: 742px;
}

.ring2 {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border: 0.5vw dotted #476067;
  border-radius: 50%;
  box-shadow: inset 0 0 1rem #000, 0 0 1rem #000;
  -webkit-animation: password 25s infinite linear;
          animation: password 25s infinite linear;
}

@-webkit-keyframes password {
  0%, 5% {
    transform: rotate(0deg);
  }
  20%, 15% {
    transform: rotate(45deg);
  }
  35%, 30% {
    transform: rotate(90deg);
  }
  50%, 45% {
    transform: rotate(135deg);
  }
  65%, 60% {
    transform: rotate(180deg);
  }
  80%, 75% {
    transform: rotate(225deg);
  }
  95%, 90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes password {
  0%, 5% {
    transform: rotate(0deg);
  }
  20%, 15% {
    transform: rotate(45deg);
  }
  35%, 30% {
    transform: rotate(90deg);
  }
  50%, 45% {
    transform: rotate(135deg);
  }
  65%, 60% {
    transform: rotate(180deg);
  }
  80%, 75% {
    transform: rotate(225deg);
  }
  95%, 90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gliph {
  min-width: 1px;
  width: 1%;
  bottom: 50%;
  left: 49.5%;
  height: 50%;
  background: #476067;
  transform-origin: bottom;
  font-size: 3vw;
}
.gliph:nth-child(0) {
  transform-origin: bottom;
  transform: rotate(calc(0 * 10deg));
}
.gliph:nth-child(1) {
  transform-origin: bottom;
  transform: rotate(calc(1 * 10deg));
}
.gliph:nth-child(2) {
  transform-origin: bottom;
  transform: rotate(calc(2 * 10deg));
}
.gliph:nth-child(3) {
  transform-origin: bottom;
  transform: rotate(calc(3 * 10deg));
}
.gliph:nth-child(4) {
  transform-origin: bottom;
  transform: rotate(calc(4 * 10deg));
}
.gliph:nth-child(5) {
  transform-origin: bottom;
  transform: rotate(calc(5 * 10deg));
}
.gliph:nth-child(6) {
  transform-origin: bottom;
  transform: rotate(calc(6 * 10deg));
}
.gliph:nth-child(7) {
  transform-origin: bottom;
  transform: rotate(calc(7 * 10deg));
}
.gliph:nth-child(8) {
  transform-origin: bottom;
  transform: rotate(calc(8 * 10deg));
}
.gliph:nth-child(9) {
  transform-origin: bottom;
  transform: rotate(calc(9 * 10deg));
}
.gliph:nth-child(10) {
  transform-origin: bottom;
  transform: rotate(calc(10 * 10deg));
}
.gliph:nth-child(11) {
  transform-origin: bottom;
  transform: rotate(calc(11 * 10deg));
}
.gliph:nth-child(12) {
  transform-origin: bottom;
  transform: rotate(calc(12 * 10deg));
}
.gliph:nth-child(13) {
  transform-origin: bottom;
  transform: rotate(calc(13 * 10deg));
}
.gliph:nth-child(14) {
  transform-origin: bottom;
  transform: rotate(calc(14 * 10deg));
}
.gliph:nth-child(15) {
  transform-origin: bottom;
  transform: rotate(calc(15 * 10deg));
}
.gliph:nth-child(16) {
  transform-origin: bottom;
  transform: rotate(calc(16 * 10deg));
}
.gliph:nth-child(17) {
  transform-origin: bottom;
  transform: rotate(calc(17 * 10deg));
}
.gliph:nth-child(18) {
  transform-origin: bottom;
  transform: rotate(calc(18 * 10deg));
}
.gliph:nth-child(19) {
  transform-origin: bottom;
  transform: rotate(calc(19 * 10deg));
}
.gliph:nth-child(20) {
  transform-origin: bottom;
  transform: rotate(calc(20 * 10deg));
}
.gliph:nth-child(21) {
  transform-origin: bottom;
  transform: rotate(calc(21 * 10deg));
}
.gliph:nth-child(22) {
  transform-origin: bottom;
  transform: rotate(calc(22 * 10deg));
}
.gliph:nth-child(23) {
  transform-origin: bottom;
  transform: rotate(calc(23 * 10deg));
}
.gliph:nth-child(24) {
  transform-origin: bottom;
  transform: rotate(calc(24 * 10deg));
}
.gliph:nth-child(25) {
  transform-origin: bottom;
  transform: rotate(calc(25 * 10deg));
}
.gliph:nth-child(26) {
  transform-origin: bottom;
  transform: rotate(calc(26 * 10deg));
}
.gliph:nth-child(27) {
  transform-origin: bottom;
  transform: rotate(calc(27 * 10deg));
}
.gliph:nth-child(28) {
  transform-origin: bottom;
  transform: rotate(calc(28 * 10deg));
}
.gliph:nth-child(29) {
  transform-origin: bottom;
  transform: rotate(calc(29 * 10deg));
}
.gliph:nth-child(30) {
  transform-origin: bottom;
  transform: rotate(calc(30 * 10deg));
}
.gliph:nth-child(31) {
  transform-origin: bottom;
  transform: rotate(calc(31 * 10deg));
}
.gliph:nth-child(32) {
  transform-origin: bottom;
  transform: rotate(calc(32 * 10deg));
}
.gliph:nth-child(33) {
  transform-origin: bottom;
  transform: rotate(calc(33 * 10deg));
}
.gliph:nth-child(34) {
  transform-origin: bottom;
  transform: rotate(calc(34 * 10deg));
}
.gliph:nth-child(35) {
  transform-origin: bottom;
  transform: rotate(calc(35 * 10deg));
}
.gliph:nth-child(36) {
  transform-origin: bottom;
  transform: rotate(calc(36 * 10deg));
}

.gliph::after {
  content: attr(data-content);
  display: block;
  width: 6vw;
  padding-top: 1vw;
  text-align: center;
}

@-webkit-keyframes water {
  0%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}

@keyframes water {
  0%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
.slider {
  width: 72%;
  height: 72%;
  top: 14%;
  left: 14%;
  border-radius: 50%;
  background: #2F3871;
  box-shadow: inset 0 0 5rem #000, 0 0 5vw #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: initial;
  -webkit-transform-style: initial;
}
.slider::before {
  content: "";
  position: absolute;
  display: block;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: #FFF;
  box-shadow: inset 0 0 15vw #FFF, 0 0 10vw #FFF, 0 0 15vw #FFF, 0 0 5vw #FFf;
  filter: blur(3vw);
  mix-blend-mode: ligther;
  -webkit-animation: water 5s 1s infinite;
          animation: water 5s 1s infinite;
}

.light {
  background-color: #EBFE81;
  width: 7%;
  height: 7%;
  border-radius: 50%;
  box-shadow: 0 0 4vw #EBFE81;
  left: 46.5%;
  bottom: 50%;
  margin-bottom: 43%;
  transform-origin: center 700%;
}
.light:nth-child(0) {
  transform: rotate(calc(0 * 45deg));
}
.light:nth-child(1) {
  transform: rotate(calc(1 * 45deg));
}
.light:nth-child(2) {
  transform: rotate(calc(2 * 45deg));
}
.light:nth-child(3) {
  transform: rotate(calc(3 * 45deg));
}
.light:nth-child(4) {
  transform: rotate(calc(4 * 45deg));
}
.light:nth-child(5) {
  transform: rotate(calc(5 * 45deg));
}
.light:nth-child(6) {
  transform: rotate(calc(6 * 45deg));
}
.light:nth-child(7) {
  transform: rotate(calc(7 * 45deg));
}
.light:nth-child(8) {
  transform: rotate(calc(8 * 45deg));
}
.light:nth-child(9) {
  transform: rotate(calc(9 * 45deg));
}

.lamp {
  width: 0;
  height: 0;
  left: 8%;
  bottom: -70%;
  border-top: 5vw solid #717B72;
  border-right: 2vw solid transparent;
  border-left: 2vw solid transparent;
}
.lamp::before, .lamp::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.6vw;
  height: 8vw;
  background: #717B72;
  transform-origin: bottom;
  transform: rotateZ(20deg);
}
.lamp::after {
  transform: rotateZ(-20deg);
}

.floor {
  width: 100vw;
  top: 80vw;
  height: 800px;
  background: #6F8BA3;
  transform-origin: top;
  transform: rotateX(90deg);
}
.floor .line {
  width: 100vw;
  background-image: linear-gradient(to right, black 50%, #FBD06A 0%);
  background-position: bottom;
  background-size: 15% 3vw;
  background-repeat: repeat-x;
  margin-top: 40vW;
  height: 3vw;
  transform: skewX(60deg) rotate(5deg);
}

.bridge {
  transform-origin: top;
  width: 40%;
  left: 30%;
  top: 70vw;
  height: 500px;
  background: repeating-linear-gradient(90deg, #546174, #546174 0.1em, #283A50 0, #283A50 0.5em);
  box-shadow: inset 0 0 5vw #000;
  transform: rotateX(95deg);
}
.bridge::after, .bridge .stair::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  transform-origin: bottom;
  bottom: 0;
  transform: rotateX(90deg);
}

.staircase {
  top: 100%;
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: rotateX(-50deg);
  border: 4px solid;
  border-top: none;
}
.staircase .stair {
  width: 100%;
  background: repeating-linear-gradient(90deg, #546174, #546174 0.1em, #283A50 0, #283A50 0.5em);
  height: 25px;
  transform: rotateX(50deg);
}
.staircase .stair:first-child {
  bottom: 0;
}
.staircase .stair:last-child {
  bottom: 40%;
}

div[class^=barrier] {
  width: 50px;
  height: 350px;
  transform-origin: top left;
  left: 30%;
  top: 70vw;
  border-radius: 50px 50px 0 0;
  border: 1vw solid #31363C;
  transform: rotateZ(-90deg) rotateX(91.5deg);
}
div[class^=barrier]::before {
  content: "";
  position: absolute;
  width: 1vw;
  background-color: #31363C;
  height: 100%;
  left: 20%;
  top: 0;
}
div[class^=barrier]::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  right: 0;
  box-shadow: 0 0 1rem #FFFDF1, inset 0 0 5vw #FFFDF1;
  background-color: rgba(255, 253, 241, 0.7647058824);
}

div[class^=barrier]:last-of-type {
  transform: translate(39vw) rotateZ(-90deg) rotateX(88.5deg);
}

.slider img {
  width: 100%;
  transform: scale(0.5);
  opacity: 0;
  mix-blend-mode: multiply;
  transition: all 1s;
}

.slider video {
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}

.slider .active {
  transform: scale(0.8);
  opacity: 1;
  mix-blend-mode: initial;
  transition: all 1s 2s;
}

@-webkit-keyframes blink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

@keyframes blink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}
.star {
  background-color: #e4efab;
  border-radius: 50%;
}
.star:nth-of-type(3n) {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
.star:nth-of-type(0) {
  top: 41vw;
  left: 60vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2412428086s;
          animation-delay: 0.2412428086s;
}
.star:nth-of-type(1) {
  top: 84vw;
  left: 35vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0831371549s;
          animation-delay: 0.0831371549s;
}
.star:nth-of-type(2) {
  top: 4vw;
  left: 1vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2260274865s;
          animation-delay: 0.2260274865s;
}
.star:nth-of-type(3) {
  top: 85vw;
  left: 81vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0504984988s;
          animation-delay: 0.0504984988s;
}
.star:nth-of-type(4) {
  top: 24vw;
  left: 93vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1021366945s;
          animation-delay: 0.1021366945s;
}
.star:nth-of-type(5) {
  top: 23vw;
  left: 42vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2569618364s;
          animation-delay: 0.2569618364s;
}
.star:nth-of-type(6) {
  top: 67vw;
  left: 25vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8132434452s;
          animation-delay: 0.8132434452s;
}
.star:nth-of-type(7) {
  top: 97vw;
  left: 3vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5468088616s;
          animation-delay: 0.5468088616s;
}
.star:nth-of-type(8) {
  top: 36vw;
  left: 86vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5061783311s;
          animation-delay: 0.5061783311s;
}
.star:nth-of-type(9) {
  top: 88vw;
  left: 8vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5307176223s;
          animation-delay: 0.5307176223s;
}
.star:nth-of-type(10) {
  top: 24vw;
  left: 30vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7170275966s;
          animation-delay: 0.7170275966s;
}
.star:nth-of-type(11) {
  top: 35vw;
  left: 64vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8290733273s;
          animation-delay: 0.8290733273s;
}
.star:nth-of-type(12) {
  top: 36vw;
  left: 76vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9576211501s;
          animation-delay: 0.9576211501s;
}
.star:nth-of-type(13) {
  top: 18vw;
  left: 61vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0782763189s;
          animation-delay: 0.0782763189s;
}
.star:nth-of-type(14) {
  top: 16vw;
  left: 97vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7723947798s;
          animation-delay: 0.7723947798s;
}
.star:nth-of-type(15) {
  top: 84vw;
  left: 38vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8964344681s;
          animation-delay: 0.8964344681s;
}
.star:nth-of-type(16) {
  top: 16vw;
  left: 96vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7094799684s;
          animation-delay: 0.7094799684s;
}
.star:nth-of-type(17) {
  top: 29vw;
  left: 29vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8171961605s;
          animation-delay: 0.8171961605s;
}
.star:nth-of-type(18) {
  top: 98vw;
  left: 7vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5213537855s;
          animation-delay: 0.5213537855s;
}
.star:nth-of-type(19) {
  top: 75vw;
  left: 40vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5713853161s;
          animation-delay: 0.5713853161s;
}
.star:nth-of-type(20) {
  top: 54vw;
  left: 39vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7232807422s;
          animation-delay: 0.7232807422s;
}
.star:nth-of-type(21) {
  top: 24vw;
  left: 80vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3346535222s;
          animation-delay: 0.3346535222s;
}
.star:nth-of-type(22) {
  top: 13vw;
  left: 83vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3877132769s;
          animation-delay: 0.3877132769s;
}
.star:nth-of-type(23) {
  top: 63vw;
  left: 83vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7730654299s;
          animation-delay: 0.7730654299s;
}
.star:nth-of-type(24) {
  top: 44vw;
  left: 77vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0115424423s;
          animation-delay: 0.0115424423s;
}
.star:nth-of-type(25) {
  top: 92vw;
  left: 45vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6489201144s;
          animation-delay: 0.6489201144s;
}
.star:nth-of-type(26) {
  top: 30vw;
  left: 33vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0175953825s;
          animation-delay: 0.0175953825s;
}
.star:nth-of-type(27) {
  top: 24vw;
  left: 13vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0022581762s;
          animation-delay: 0.0022581762s;
}
.star:nth-of-type(28) {
  top: 15vw;
  left: 58vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1881644203s;
          animation-delay: 0.1881644203s;
}
.star:nth-of-type(29) {
  top: 72vw;
  left: 18vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8908977746s;
          animation-delay: 0.8908977746s;
}
.star:nth-of-type(30) {
  top: 8vw;
  left: 71vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2536541124s;
          animation-delay: 0.2536541124s;
}
.star:nth-of-type(31) {
  top: 41vw;
  left: 74vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.276055936s;
          animation-delay: 0.276055936s;
}
.star:nth-of-type(32) {
  top: 65vw;
  left: 91vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3567406564s;
          animation-delay: 0.3567406564s;
}
.star:nth-of-type(33) {
  top: 96vw;
  left: 42vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4790475159s;
          animation-delay: 0.4790475159s;
}
.star:nth-of-type(34) {
  top: 83vw;
  left: 52vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6853627698s;
          animation-delay: 0.6853627698s;
}
.star:nth-of-type(35) {
  top: 60vw;
  left: 16vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4575489482s;
          animation-delay: 0.4575489482s;
}
.star:nth-of-type(36) {
  top: 68vw;
  left: 96vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.590612383s;
          animation-delay: 0.590612383s;
}
.star:nth-of-type(37) {
  top: 3vw;
  left: 88vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6202013544s;
          animation-delay: 0.6202013544s;
}
.star:nth-of-type(38) {
  top: 71vw;
  left: 98vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3907658464s;
          animation-delay: 0.3907658464s;
}
.star:nth-of-type(39) {
  top: 36vw;
  left: 46vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9354333729s;
          animation-delay: 0.9354333729s;
}
.star:nth-of-type(40) {
  top: 73vw;
  left: 8vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3572417562s;
          animation-delay: 0.3572417562s;
}
.star:nth-of-type(41) {
  top: 57vw;
  left: 36vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1277597375s;
          animation-delay: 0.1277597375s;
}
.star:nth-of-type(42) {
  top: 35vw;
  left: 83vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1853750116s;
          animation-delay: 0.1853750116s;
}
.star:nth-of-type(43) {
  top: 39vw;
  left: 84vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4413842167s;
          animation-delay: 0.4413842167s;
}
.star:nth-of-type(44) {
  top: 7vw;
  left: 19vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0249642977s;
          animation-delay: 0.0249642977s;
}
.star:nth-of-type(45) {
  top: 44vw;
  left: 4vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9821481886s;
          animation-delay: 0.9821481886s;
}
.star:nth-of-type(46) {
  top: 80vw;
  left: 26vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.762006949s;
          animation-delay: 0.762006949s;
}
.star:nth-of-type(47) {
  top: 17vw;
  left: 52vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0324387405s;
          animation-delay: 0.0324387405s;
}
.star:nth-of-type(48) {
  top: 9vw;
  left: 60vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3227071681s;
          animation-delay: 0.3227071681s;
}
.star:nth-of-type(49) {
  top: 84vw;
  left: 78vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9484812864s;
          animation-delay: 0.9484812864s;
}
.star:nth-of-type(50) {
  top: 26vw;
  left: 83vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0160307308s;
          animation-delay: 0.0160307308s;
}
.star:nth-of-type(51) {
  top: 29vw;
  left: 77vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6345493767s;
          animation-delay: 0.6345493767s;
}
.star:nth-of-type(52) {
  top: 18vw;
  left: 17vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8623220109s;
          animation-delay: 0.8623220109s;
}
.star:nth-of-type(53) {
  top: 35vw;
  left: 19vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8075837709s;
          animation-delay: 0.8075837709s;
}
.star:nth-of-type(54) {
  top: 52vw;
  left: 20vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4152012897s;
          animation-delay: 0.4152012897s;
}
.star:nth-of-type(55) {
  top: 23vw;
  left: 100vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3955937159s;
          animation-delay: 0.3955937159s;
}
.star:nth-of-type(56) {
  top: 75vw;
  left: 93vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.874228035s;
          animation-delay: 0.874228035s;
}
.star:nth-of-type(57) {
  top: 62vw;
  left: 11vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9442561833s;
          animation-delay: 0.9442561833s;
}
.star:nth-of-type(58) {
  top: 100vw;
  left: 76vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8808327882s;
          animation-delay: 0.8808327882s;
}
.star:nth-of-type(59) {
  top: 10vw;
  left: 23vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7221221246s;
          animation-delay: 0.7221221246s;
}
.star:nth-of-type(60) {
  top: 19vw;
  left: 50vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2941315555s;
          animation-delay: 0.2941315555s;
}
.star:nth-of-type(61) {
  top: 97vw;
  left: 20vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8141778248s;
          animation-delay: 0.8141778248s;
}
.star:nth-of-type(62) {
  top: 97vw;
  left: 11vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4717687431s;
          animation-delay: 0.4717687431s;
}
.star:nth-of-type(63) {
  top: 53vw;
  left: 87vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.112421645s;
          animation-delay: 0.112421645s;
}
.star:nth-of-type(64) {
  top: 56vw;
  left: 26vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5981737921s;
          animation-delay: 0.5981737921s;
}
.star:nth-of-type(65) {
  top: 7vw;
  left: 97vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8474464768s;
          animation-delay: 0.8474464768s;
}
.star:nth-of-type(66) {
  top: 9vw;
  left: 4vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7478192695s;
          animation-delay: 0.7478192695s;
}
.star:nth-of-type(67) {
  top: 90vw;
  left: 91vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7969558982s;
          animation-delay: 0.7969558982s;
}
.star:nth-of-type(68) {
  top: 61vw;
  left: 46vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6669778914s;
          animation-delay: 0.6669778914s;
}
.star:nth-of-type(69) {
  top: 95vw;
  left: 89vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9028487875s;
          animation-delay: 0.9028487875s;
}
.star:nth-of-type(70) {
  top: 27vw;
  left: 99vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7377661603s;
          animation-delay: 0.7377661603s;
}
.star:nth-of-type(71) {
  top: 18vw;
  left: 86vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.991986411s;
          animation-delay: 0.991986411s;
}
.star:nth-of-type(72) {
  top: 84vw;
  left: 35vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.492482775s;
          animation-delay: 0.492482775s;
}
.star:nth-of-type(73) {
  top: 2vw;
  left: 40vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3747229781s;
          animation-delay: 0.3747229781s;
}
.star:nth-of-type(74) {
  top: 44vw;
  left: 28vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7850077238s;
          animation-delay: 0.7850077238s;
}
.star:nth-of-type(75) {
  top: 19vw;
  left: 31vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0443663314s;
          animation-delay: 0.0443663314s;
}
.star:nth-of-type(76) {
  top: 18vw;
  left: 98vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3107128427s;
          animation-delay: 0.3107128427s;
}
.star:nth-of-type(77) {
  top: 29vw;
  left: 39vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5715332853s;
          animation-delay: 0.5715332853s;
}
.star:nth-of-type(78) {
  top: 8vw;
  left: 66vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7882157543s;
          animation-delay: 0.7882157543s;
}
.star:nth-of-type(79) {
  top: 93vw;
  left: 25vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5940674008s;
          animation-delay: 0.5940674008s;
}
.star:nth-of-type(80) {
  top: 15vw;
  left: 35vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1755473744s;
          animation-delay: 0.1755473744s;
}
.star:nth-of-type(81) {
  top: 91vw;
  left: 34vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2168128255s;
          animation-delay: 0.2168128255s;
}
.star:nth-of-type(82) {
  top: 41vw;
  left: 20vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4943489633s;
          animation-delay: 0.4943489633s;
}
.star:nth-of-type(83) {
  top: 2vw;
  left: 73vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2488925935s;
          animation-delay: 0.2488925935s;
}
.star:nth-of-type(84) {
  top: 83vw;
  left: 7vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9701267313s;
          animation-delay: 0.9701267313s;
}
.star:nth-of-type(85) {
  top: 39vw;
  left: 57vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1616287608s;
          animation-delay: 0.1616287608s;
}
.star:nth-of-type(86) {
  top: 90vw;
  left: 29vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3198665113s;
          animation-delay: 0.3198665113s;
}
.star:nth-of-type(87) {
  top: 53vw;
  left: 25vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7182783648s;
          animation-delay: 0.7182783648s;
}
.star:nth-of-type(88) {
  top: 99vw;
  left: 42vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0684384898s;
          animation-delay: 0.0684384898s;
}
.star:nth-of-type(89) {
  top: 47vw;
  left: 95vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8131401334s;
          animation-delay: 0.8131401334s;
}
.star:nth-of-type(90) {
  top: 15vw;
  left: 28vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8230937867s;
          animation-delay: 0.8230937867s;
}
.star:nth-of-type(91) {
  top: 66vw;
  left: 18vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2582178605s;
          animation-delay: 0.2582178605s;
}
.star:nth-of-type(92) {
  top: 45vw;
  left: 100vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7679676626s;
          animation-delay: 0.7679676626s;
}
.star:nth-of-type(93) {
  top: 82vw;
  left: 47vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1834259334s;
          animation-delay: 0.1834259334s;
}
.star:nth-of-type(94) {
  top: 9vw;
  left: 90vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.176708606s;
          animation-delay: 0.176708606s;
}
.star:nth-of-type(95) {
  top: 70vw;
  left: 49vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7184148078s;
          animation-delay: 0.7184148078s;
}
.star:nth-of-type(96) {
  top: 55vw;
  left: 36vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6790316011s;
          animation-delay: 0.6790316011s;
}
.star:nth-of-type(97) {
  top: 68vw;
  left: 54vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6096785164s;
          animation-delay: 0.6096785164s;
}
.star:nth-of-type(98) {
  top: 47vw;
  left: 61vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0810629713s;
          animation-delay: 0.0810629713s;
}
.star:nth-of-type(99) {
  top: 50vw;
  left: 85vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.209392266s;
          animation-delay: 0.209392266s;
}

.symbole {
  width: 100%;
  height: 100%;
  transform: scale(1.14);
  margin-top: 9px;
  margin-left: 15px;
}
