.gliph {
  font-family: "Karma", serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  perspective: 1000px;
  background: #000;
  max-width: 100%;
  overflow-x: hidden;
}

body * {
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.background {
  width: 100%;
  height: 100vh;
  min-height: 150vw;
}

.gate {
  position: relative;
  margin: auto;
}

.ring1 {
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  top: 2rem;
  left: 10%;
  background-color: #80A2A3;
  width: 742px;
  height: 742px;
}

.ring2 {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border: 0.5vw dotted #476067;
  border-radius: 50%;
  box-shadow: inset 0 0 1rem #000, 0 0 1rem #000;
  -webkit-animation: password 25s infinite linear;
          animation: password 25s infinite linear;
}

@-webkit-keyframes password {
  0%, 5% {
    transform: rotate(0deg);
  }
  20%, 15% {
    transform: rotate(45deg);
  }
  35%, 30% {
    transform: rotate(90deg);
  }
  50%, 45% {
    transform: rotate(135deg);
  }
  65%, 60% {
    transform: rotate(180deg);
  }
  80%, 75% {
    transform: rotate(225deg);
  }
  95%, 90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes password {
  0%, 5% {
    transform: rotate(0deg);
  }
  20%, 15% {
    transform: rotate(45deg);
  }
  35%, 30% {
    transform: rotate(90deg);
  }
  50%, 45% {
    transform: rotate(135deg);
  }
  65%, 60% {
    transform: rotate(180deg);
  }
  80%, 75% {
    transform: rotate(225deg);
  }
  95%, 90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gliph {
  min-width: 1px;
  width: 1%;
  bottom: 50%;
  left: 49.5%;
  height: 50%;
  background: #476067;
  transform-origin: bottom;
  font-size: 3vw;
}
.gliph:nth-child(0) {
  transform-origin: bottom;
  transform: rotate(calc(0 * 10deg));
}
.gliph:nth-child(1) {
  transform-origin: bottom;
  transform: rotate(calc(1 * 10deg));
}
.gliph:nth-child(2) {
  transform-origin: bottom;
  transform: rotate(calc(2 * 10deg));
}
.gliph:nth-child(3) {
  transform-origin: bottom;
  transform: rotate(calc(3 * 10deg));
}
.gliph:nth-child(4) {
  transform-origin: bottom;
  transform: rotate(calc(4 * 10deg));
}
.gliph:nth-child(5) {
  transform-origin: bottom;
  transform: rotate(calc(5 * 10deg));
}
.gliph:nth-child(6) {
  transform-origin: bottom;
  transform: rotate(calc(6 * 10deg));
}
.gliph:nth-child(7) {
  transform-origin: bottom;
  transform: rotate(calc(7 * 10deg));
}
.gliph:nth-child(8) {
  transform-origin: bottom;
  transform: rotate(calc(8 * 10deg));
}
.gliph:nth-child(9) {
  transform-origin: bottom;
  transform: rotate(calc(9 * 10deg));
}
.gliph:nth-child(10) {
  transform-origin: bottom;
  transform: rotate(calc(10 * 10deg));
}
.gliph:nth-child(11) {
  transform-origin: bottom;
  transform: rotate(calc(11 * 10deg));
}
.gliph:nth-child(12) {
  transform-origin: bottom;
  transform: rotate(calc(12 * 10deg));
}
.gliph:nth-child(13) {
  transform-origin: bottom;
  transform: rotate(calc(13 * 10deg));
}
.gliph:nth-child(14) {
  transform-origin: bottom;
  transform: rotate(calc(14 * 10deg));
}
.gliph:nth-child(15) {
  transform-origin: bottom;
  transform: rotate(calc(15 * 10deg));
}
.gliph:nth-child(16) {
  transform-origin: bottom;
  transform: rotate(calc(16 * 10deg));
}
.gliph:nth-child(17) {
  transform-origin: bottom;
  transform: rotate(calc(17 * 10deg));
}
.gliph:nth-child(18) {
  transform-origin: bottom;
  transform: rotate(calc(18 * 10deg));
}
.gliph:nth-child(19) {
  transform-origin: bottom;
  transform: rotate(calc(19 * 10deg));
}
.gliph:nth-child(20) {
  transform-origin: bottom;
  transform: rotate(calc(20 * 10deg));
}
.gliph:nth-child(21) {
  transform-origin: bottom;
  transform: rotate(calc(21 * 10deg));
}
.gliph:nth-child(22) {
  transform-origin: bottom;
  transform: rotate(calc(22 * 10deg));
}
.gliph:nth-child(23) {
  transform-origin: bottom;
  transform: rotate(calc(23 * 10deg));
}
.gliph:nth-child(24) {
  transform-origin: bottom;
  transform: rotate(calc(24 * 10deg));
}
.gliph:nth-child(25) {
  transform-origin: bottom;
  transform: rotate(calc(25 * 10deg));
}
.gliph:nth-child(26) {
  transform-origin: bottom;
  transform: rotate(calc(26 * 10deg));
}
.gliph:nth-child(27) {
  transform-origin: bottom;
  transform: rotate(calc(27 * 10deg));
}
.gliph:nth-child(28) {
  transform-origin: bottom;
  transform: rotate(calc(28 * 10deg));
}
.gliph:nth-child(29) {
  transform-origin: bottom;
  transform: rotate(calc(29 * 10deg));
}
.gliph:nth-child(30) {
  transform-origin: bottom;
  transform: rotate(calc(30 * 10deg));
}
.gliph:nth-child(31) {
  transform-origin: bottom;
  transform: rotate(calc(31 * 10deg));
}
.gliph:nth-child(32) {
  transform-origin: bottom;
  transform: rotate(calc(32 * 10deg));
}
.gliph:nth-child(33) {
  transform-origin: bottom;
  transform: rotate(calc(33 * 10deg));
}
.gliph:nth-child(34) {
  transform-origin: bottom;
  transform: rotate(calc(34 * 10deg));
}
.gliph:nth-child(35) {
  transform-origin: bottom;
  transform: rotate(calc(35 * 10deg));
}
.gliph:nth-child(36) {
  transform-origin: bottom;
  transform: rotate(calc(36 * 10deg));
}

.gliph::after {
  content: attr(data-content);
  display: block;
  width: 6vw;
  padding-top: 1vw;
  text-align: center;
}

@-webkit-keyframes water {
  0%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}

@keyframes water {
  0%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
.slider {
  width: 72%;
  height: 72%;
  top: 14%;
  left: 14%;
  border-radius: 50%;
  background: #2F3871;
  box-shadow: inset 0 0 5rem #000, 0 0 5vw #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: initial;
  -webkit-transform-style: initial;
}
.slider::before {
  content: "";
  position: absolute;
  display: block;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: #FFF;
  box-shadow: inset 0 0 15vw #FFF, 0 0 10vw #FFF, 0 0 15vw #FFF, 0 0 5vw #FFf;
  filter: blur(3vw);
  mix-blend-mode: ligther;
  -webkit-animation: water 5s 1s infinite;
          animation: water 5s 1s infinite;
}

.light {
  background-color: #EBFE81;
  width: 7%;
  height: 7%;
  border-radius: 50%;
  box-shadow: 0 0 4vw #EBFE81;
  left: 46.5%;
  bottom: 50%;
  margin-bottom: 43%;
  transform-origin: center 700%;
}
.light:nth-child(0) {
  transform: rotate(calc(0 * 45deg));
}
.light:nth-child(1) {
  transform: rotate(calc(1 * 45deg));
}
.light:nth-child(2) {
  transform: rotate(calc(2 * 45deg));
}
.light:nth-child(3) {
  transform: rotate(calc(3 * 45deg));
}
.light:nth-child(4) {
  transform: rotate(calc(4 * 45deg));
}
.light:nth-child(5) {
  transform: rotate(calc(5 * 45deg));
}
.light:nth-child(6) {
  transform: rotate(calc(6 * 45deg));
}
.light:nth-child(7) {
  transform: rotate(calc(7 * 45deg));
}
.light:nth-child(8) {
  transform: rotate(calc(8 * 45deg));
}
.light:nth-child(9) {
  transform: rotate(calc(9 * 45deg));
}

.lamp {
  width: 0;
  height: 0;
  left: 8%;
  bottom: -70%;
  border-top: 5vw solid #717B72;
  border-right: 2vw solid transparent;
  border-left: 2vw solid transparent;
}
.lamp::before, .lamp::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.6vw;
  height: 8vw;
  background: #717B72;
  transform-origin: bottom;
  transform: rotateZ(20deg);
}
.lamp::after {
  transform: rotateZ(-20deg);
}

.floor {
  width: 100vw;
  top: 80vw;
  height: 800px;
  background: #6F8BA3;
  transform-origin: top;
  transform: rotateX(90deg);
}
.floor .line {
  width: 100vw;
  background-image: linear-gradient(to right, black 50%, #FBD06A 0%);
  background-position: bottom;
  background-size: 15% 3vw;
  background-repeat: repeat-x;
  margin-top: 40vW;
  height: 3vw;
  transform: skewX(60deg) rotate(5deg);
}

.bridge {
  transform-origin: top;
  width: 40%;
  left: 30%;
  top: 70vw;
  height: 500px;
  background: repeating-linear-gradient(90deg, #546174, #546174 0.1em, #283A50 0, #283A50 0.5em);
  box-shadow: inset 0 0 5vw #000;
  transform: rotateX(95deg);
}
.bridge::after, .bridge .stair::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  transform-origin: bottom;
  bottom: 0;
  transform: rotateX(90deg);
}

.staircase {
  top: 100%;
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: rotateX(-50deg);
  border: 4px solid;
  border-top: none;
}
.staircase .stair {
  width: 100%;
  background: repeating-linear-gradient(90deg, #546174, #546174 0.1em, #283A50 0, #283A50 0.5em);
  height: 25px;
  transform: rotateX(50deg);
}
.staircase .stair:first-child {
  bottom: 0;
}
.staircase .stair:last-child {
  bottom: 40%;
}

div[class^=barrier] {
  width: 50px;
  height: 350px;
  transform-origin: top left;
  left: 30%;
  top: 70vw;
  border-radius: 50px 50px 0 0;
  border: 1vw solid #31363C;
  transform: rotateZ(-90deg) rotateX(91.5deg);
}
div[class^=barrier]::before {
  content: "";
  position: absolute;
  width: 1vw;
  background-color: #31363C;
  height: 100%;
  left: 20%;
  top: 0;
}
div[class^=barrier]::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  right: 0;
  box-shadow: 0 0 1rem #FFFDF1, inset 0 0 5vw #FFFDF1;
  background-color: rgba(255, 253, 241, 0.7647058824);
}

div[class^=barrier]:last-of-type {
  transform: translate(39vw) rotateZ(-90deg) rotateX(88.5deg);
}

.slider img {
  width: 100%;
  transform: scale(0.5);
  opacity: 0;
  mix-blend-mode: multiply;
  transition: all 1s;
}

.slider video {
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}

.slider .active {
  transform: scale(0.8);
  opacity: 1;
  mix-blend-mode: initial;
  transition: all 1s 2s;
}

@-webkit-keyframes blink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}

@keyframes blink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}
.star {
  background-color: #e4efab;
  border-radius: 50%;
}
.star:nth-of-type(3n) {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
.star:nth-of-type(0) {
  top: 21vw;
  left: 62vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5205452042s;
          animation-delay: 0.5205452042s;
}
.star:nth-of-type(1) {
  top: 95vw;
  left: 58vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3319860111s;
          animation-delay: 0.3319860111s;
}
.star:nth-of-type(2) {
  top: 83vw;
  left: 65vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7445968922s;
          animation-delay: 0.7445968922s;
}
.star:nth-of-type(3) {
  top: 1vw;
  left: 40vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2477647108s;
          animation-delay: 0.2477647108s;
}
.star:nth-of-type(4) {
  top: 66vw;
  left: 13vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4521391761s;
          animation-delay: 0.4521391761s;
}
.star:nth-of-type(5) {
  top: 48vw;
  left: 87vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9777327414s;
          animation-delay: 0.9777327414s;
}
.star:nth-of-type(6) {
  top: 42vw;
  left: 68vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5319410655s;
          animation-delay: 0.5319410655s;
}
.star:nth-of-type(7) {
  top: 5vw;
  left: 11vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8606412179s;
          animation-delay: 0.8606412179s;
}
.star:nth-of-type(8) {
  top: 38vw;
  left: 14vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6525185311s;
          animation-delay: 0.6525185311s;
}
.star:nth-of-type(9) {
  top: 31vw;
  left: 44vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1102650092s;
          animation-delay: 0.1102650092s;
}
.star:nth-of-type(10) {
  top: 17vw;
  left: 59vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8845397954s;
          animation-delay: 0.8845397954s;
}
.star:nth-of-type(11) {
  top: 97vw;
  left: 61vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4171478459s;
          animation-delay: 0.4171478459s;
}
.star:nth-of-type(12) {
  top: 33vw;
  left: 16vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.310626216s;
          animation-delay: 0.310626216s;
}
.star:nth-of-type(13) {
  top: 58vw;
  left: 22vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5393610725s;
          animation-delay: 0.5393610725s;
}
.star:nth-of-type(14) {
  top: 80vw;
  left: 23vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9143017772s;
          animation-delay: 0.9143017772s;
}
.star:nth-of-type(15) {
  top: 87vw;
  left: 29vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1605589762s;
          animation-delay: 0.1605589762s;
}
.star:nth-of-type(16) {
  top: 48vw;
  left: 98vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4493546558s;
          animation-delay: 0.4493546558s;
}
.star:nth-of-type(17) {
  top: 65vw;
  left: 73vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5982509679s;
          animation-delay: 0.5982509679s;
}
.star:nth-of-type(18) {
  top: 100vw;
  left: 90vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7923585419s;
          animation-delay: 0.7923585419s;
}
.star:nth-of-type(19) {
  top: 53vw;
  left: 56vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4359256596s;
          animation-delay: 0.4359256596s;
}
.star:nth-of-type(20) {
  top: 38vw;
  left: 22vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0483731102s;
          animation-delay: 0.0483731102s;
}
.star:nth-of-type(21) {
  top: 45vw;
  left: 38vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3934770904s;
          animation-delay: 0.3934770904s;
}
.star:nth-of-type(22) {
  top: 61vw;
  left: 69vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2579352876s;
          animation-delay: 0.2579352876s;
}
.star:nth-of-type(23) {
  top: 31vw;
  left: 100vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5492627917s;
          animation-delay: 0.5492627917s;
}
.star:nth-of-type(24) {
  top: 78vw;
  left: 62vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9292744988s;
          animation-delay: 0.9292744988s;
}
.star:nth-of-type(25) {
  top: 98vw;
  left: 27vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.9884476432s;
          animation-delay: 0.9884476432s;
}
.star:nth-of-type(26) {
  top: 8vw;
  left: 28vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7785362323s;
          animation-delay: 0.7785362323s;
}
.star:nth-of-type(27) {
  top: 56vw;
  left: 74vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5552875565s;
          animation-delay: 0.5552875565s;
}
.star:nth-of-type(28) {
  top: 29vw;
  left: 22vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2372549495s;
          animation-delay: 0.2372549495s;
}
.star:nth-of-type(29) {
  top: 63vw;
  left: 80vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7721956547s;
          animation-delay: 0.7721956547s;
}
.star:nth-of-type(30) {
  top: 29vw;
  left: 29vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5798072113s;
          animation-delay: 0.5798072113s;
}
.star:nth-of-type(31) {
  top: 60vw;
  left: 24vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.2663270801s;
          animation-delay: 0.2663270801s;
}
.star:nth-of-type(32) {
  top: 14vw;
  left: 33vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7774550895s;
          animation-delay: 0.7774550895s;
}
.star:nth-of-type(33) {
  top: 81vw;
  left: 32vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1053603997s;
          animation-delay: 0.1053603997s;
}
.star:nth-of-type(34) {
  top: 20vw;
  left: 27vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2582313694s;
          animation-delay: 0.2582313694s;
}
.star:nth-of-type(35) {
  top: 14vw;
  left: 23vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6631576435s;
          animation-delay: 0.6631576435s;
}
.star:nth-of-type(36) {
  top: 31vw;
  left: 78vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6938731232s;
          animation-delay: 0.6938731232s;
}
.star:nth-of-type(37) {
  top: 71vw;
  left: 82vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.6803540276s;
          animation-delay: 0.6803540276s;
}
.star:nth-of-type(38) {
  top: 42vw;
  left: 92vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4438135092s;
          animation-delay: 0.4438135092s;
}
.star:nth-of-type(39) {
  top: 47vw;
  left: 67vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3167018221s;
          animation-delay: 0.3167018221s;
}
.star:nth-of-type(40) {
  top: 10vw;
  left: 35vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1936020483s;
          animation-delay: 0.1936020483s;
}
.star:nth-of-type(41) {
  top: 26vw;
  left: 74vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3070679718s;
          animation-delay: 0.3070679718s;
}
.star:nth-of-type(42) {
  top: 47vw;
  left: 8vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1904324629s;
          animation-delay: 0.1904324629s;
}
.star:nth-of-type(43) {
  top: 10vw;
  left: 25vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4163077056s;
          animation-delay: 0.4163077056s;
}
.star:nth-of-type(44) {
  top: 59vw;
  left: 4vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.764676703s;
          animation-delay: 0.764676703s;
}
.star:nth-of-type(45) {
  top: 66vw;
  left: 19vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2877274476s;
          animation-delay: 0.2877274476s;
}
.star:nth-of-type(46) {
  top: 13vw;
  left: 62vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6670431551s;
          animation-delay: 0.6670431551s;
}
.star:nth-of-type(47) {
  top: 58vw;
  left: 74vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8239191648s;
          animation-delay: 0.8239191648s;
}
.star:nth-of-type(48) {
  top: 1vw;
  left: 69vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1070107089s;
          animation-delay: 0.1070107089s;
}
.star:nth-of-type(49) {
  top: 77vw;
  left: 37vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.636461621s;
          animation-delay: 0.636461621s;
}
.star:nth-of-type(50) {
  top: 26vw;
  left: 73vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8500681209s;
          animation-delay: 0.8500681209s;
}
.star:nth-of-type(51) {
  top: 80vw;
  left: 24vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6279408262s;
          animation-delay: 0.6279408262s;
}
.star:nth-of-type(52) {
  top: 45vw;
  left: 46vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3687504534s;
          animation-delay: 0.3687504534s;
}
.star:nth-of-type(53) {
  top: 71vw;
  left: 81vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1527153446s;
          animation-delay: 0.1527153446s;
}
.star:nth-of-type(54) {
  top: 61vw;
  left: 100vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.6770050202s;
          animation-delay: 0.6770050202s;
}
.star:nth-of-type(55) {
  top: 34vw;
  left: 89vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.073952431s;
          animation-delay: 0.073952431s;
}
.star:nth-of-type(56) {
  top: 71vw;
  left: 65vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9257972201s;
          animation-delay: 0.9257972201s;
}
.star:nth-of-type(57) {
  top: 66vw;
  left: 6vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9828245663s;
          animation-delay: 0.9828245663s;
}
.star:nth-of-type(58) {
  top: 88vw;
  left: 80vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7717876162s;
          animation-delay: 0.7717876162s;
}
.star:nth-of-type(59) {
  top: 62vw;
  left: 23vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3289830365s;
          animation-delay: 0.3289830365s;
}
.star:nth-of-type(60) {
  top: 8vw;
  left: 25vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5293571288s;
          animation-delay: 0.5293571288s;
}
.star:nth-of-type(61) {
  top: 5vw;
  left: 100vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4292587168s;
          animation-delay: 0.4292587168s;
}
.star:nth-of-type(62) {
  top: 53vw;
  left: 1vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3644029151s;
          animation-delay: 0.3644029151s;
}
.star:nth-of-type(63) {
  top: 3vw;
  left: 100vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3760992354s;
          animation-delay: 0.3760992354s;
}
.star:nth-of-type(64) {
  top: 18vw;
  left: 14vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4784464441s;
          animation-delay: 0.4784464441s;
}
.star:nth-of-type(65) {
  top: 9vw;
  left: 21vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0469098616s;
          animation-delay: 0.0469098616s;
}
.star:nth-of-type(66) {
  top: 44vw;
  left: 67vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5402209176s;
          animation-delay: 0.5402209176s;
}
.star:nth-of-type(67) {
  top: 55vw;
  left: 12vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.5493119198s;
          animation-delay: 0.5493119198s;
}
.star:nth-of-type(68) {
  top: 46vw;
  left: 59vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.891765473s;
          animation-delay: 0.891765473s;
}
.star:nth-of-type(69) {
  top: 63vw;
  left: 67vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5217731555s;
          animation-delay: 0.5217731555s;
}
.star:nth-of-type(70) {
  top: 77vw;
  left: 22vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4518623143s;
          animation-delay: 0.4518623143s;
}
.star:nth-of-type(71) {
  top: 80vw;
  left: 59vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.4413117511s;
          animation-delay: 0.4413117511s;
}
.star:nth-of-type(72) {
  top: 87vw;
  left: 8vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5220479687s;
          animation-delay: 0.5220479687s;
}
.star:nth-of-type(73) {
  top: 81vw;
  left: 59vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1927931478s;
          animation-delay: 0.1927931478s;
}
.star:nth-of-type(74) {
  top: 94vw;
  left: 28vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.016903297s;
          animation-delay: 0.016903297s;
}
.star:nth-of-type(75) {
  top: 24vw;
  left: 99vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0114813947s;
          animation-delay: 0.0114813947s;
}
.star:nth-of-type(76) {
  top: 34vw;
  left: 71vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.640954198s;
          animation-delay: 0.640954198s;
}
.star:nth-of-type(77) {
  top: 23vw;
  left: 41vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8048364115s;
          animation-delay: 0.8048364115s;
}
.star:nth-of-type(78) {
  top: 24vw;
  left: 37vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7399338126s;
          animation-delay: 0.7399338126s;
}
.star:nth-of-type(79) {
  top: 86vw;
  left: 99vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2122294277s;
          animation-delay: 0.2122294277s;
}
.star:nth-of-type(80) {
  top: 51vw;
  left: 78vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.1502859044s;
          animation-delay: 0.1502859044s;
}
.star:nth-of-type(81) {
  top: 85vw;
  left: 44vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.7100299429s;
          animation-delay: 0.7100299429s;
}
.star:nth-of-type(82) {
  top: 13vw;
  left: 97vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0138408657s;
          animation-delay: 0.0138408657s;
}
.star:nth-of-type(83) {
  top: 80vw;
  left: 77vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.3549515407s;
          animation-delay: 0.3549515407s;
}
.star:nth-of-type(84) {
  top: 38vw;
  left: 73vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5493556929s;
          animation-delay: 0.5493556929s;
}
.star:nth-of-type(85) {
  top: 15vw;
  left: 71vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.2493795724s;
          animation-delay: 0.2493795724s;
}
.star:nth-of-type(86) {
  top: 90vw;
  left: 57vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3319175018s;
          animation-delay: 0.3319175018s;
}
.star:nth-of-type(87) {
  top: 62vw;
  left: 13vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.3154117238s;
          animation-delay: 0.3154117238s;
}
.star:nth-of-type(88) {
  top: 32vw;
  left: 66vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.0607371597s;
          animation-delay: 0.0607371597s;
}
.star:nth-of-type(89) {
  top: 17vw;
  left: 94vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.0483665139s;
          animation-delay: 0.0483665139s;
}
.star:nth-of-type(90) {
  top: 41vw;
  left: 100vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.9662688523s;
          animation-delay: 0.9662688523s;
}
.star:nth-of-type(91) {
  top: 71vw;
  left: 65vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8086486735s;
          animation-delay: 0.8086486735s;
}
.star:nth-of-type(92) {
  top: 88vw;
  left: 60vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7329632718s;
          animation-delay: 0.7329632718s;
}
.star:nth-of-type(93) {
  top: 50vw;
  left: 24vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.8477169489s;
          animation-delay: 0.8477169489s;
}
.star:nth-of-type(94) {
  top: 1vw;
  left: 13vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5754740989s;
          animation-delay: 0.5754740989s;
}
.star:nth-of-type(95) {
  top: 25vw;
  left: 71vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.8402161664s;
          animation-delay: 0.8402161664s;
}
.star:nth-of-type(96) {
  top: 81vw;
  left: 95vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.4233433749s;
          animation-delay: 0.4233433749s;
}
.star:nth-of-type(97) {
  top: 71vw;
  left: 70vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.7475077713s;
          animation-delay: 0.7475077713s;
}
.star:nth-of-type(98) {
  top: 71vw;
  left: 35vw;
  height: 2px;
  width: 2px;
  -webkit-animation-delay: 0.5903793007s;
          animation-delay: 0.5903793007s;
}
.star:nth-of-type(99) {
  top: 91vw;
  left: 64vw;
  height: 3px;
  width: 3px;
  -webkit-animation-delay: 0.1964481288s;
          animation-delay: 0.1964481288s;
}

.symbole {
  width: 100%;
  height: 100%;
  transform: scale(1.14);
  margin-top: 9px;
  margin-left: 15px;
}
