@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: "starGate";
    src: url("/public/stargate_sg1_adress_glyphs.ttf");
}


.bg-constelation{
    /*background-image: url("/image/voie-lactee.jpg");*/
    /*background: linear-gradient(#49288c, #0b124d);*/
    background: linear-gradient(217deg, rgb(0, 34, 147), rgba(255,0,0,0) 100%),
    linear-gradient(127deg, rgba(52, 33, 103, 1), rgba(0,255,0,0) 100%),
    linear-gradient(336deg, rgb(60, 63, 65), rgba(0,0,255,0) 100%);
    /*style="background-image: url('{{asset('image/voie-lactee.jpg')}}');"*/
}

body{
    font-family: "starGate";
}

.rotationmagique{
    animation: password 25s infinite linear;
}
.rotationmagique2{
    animation: password1 25s infinite linear;
}
@keyframes password{

    0%, 5% {transform: rotate(0deg);transform-origin: center;}
    20%, 15% {transform: rotate(45deg);transform-origin: center;}
    35%,30% {transform: rotate(90deg);transform-origin: center;}
    50%, 45% {transform: rotate(135deg);transform-origin: center;}
    65%, 60% {transform: rotate(180deg);transform-origin: center;}
    80%, 75% {transform: rotate(225deg);transform-origin: center;}
    95%, 90% {transform: rotate(270deg);transform-origin: center;}
    100% {transform: rotate(360deg);transform-origin: center;}
}
@keyframes password1 {

    0%, 5% {transform: rotate(0deg);transform-origin: center;}
    20%, 15% {transform: rotate(45deg);transform-origin: center;}
    35%,30% {transform: rotate(90deg);transform-origin: center;}
    50%, 45% {
        transform: rotate(135deg);
        transform-origin: center;
    }
    65%, 60% {
        transform: rotate(180deg);
        transform-origin: center;
    }
    80%, 75% {
        transform: rotate(225deg);
        transform-origin: center;
    }
    95%, 90% {
        transform: rotate(270deg);
        transform-origin: center;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: center;
    }
}

.ytp-title-text {
    display: none;
}


.backgroundGalaxy {
    position: absolute;
    /*top: 775px;*/
    background-image: url('https://i.ibb.co/tYC260T/unknown.png');
    background-size: cover;
    background-repeat: repeat-y;
    /*rotate: 90deg;*/
    /*transform: rotate(90deg);*/
    min-width: 100%;
    min-height: 100%;
    /*z-index:0;*/
}
*{
    cursor: src('../image/cursor.png');

}
